@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0f172a;
  color: #e5e7eb;
  font-family: Inter, system-ui, sans-serif;
}

#tasklist::-webkit-scrollbar {
  display: none;
}
